/*gothiceregular*/

@font-face {
    font-family: 'gothiceregular';
    src: url('/storage/font/gothice_-webfont.woff2') format('woff2'), url('/storage/font/gothice_-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*SpaceMono*/

@font-face {
    font-family: "SpaceMono";
    src: url("/storage/font/Space_Mono/SpaceMono-Regular.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/storage/font/Space_Mono/SpaceMono-Italic.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/storage/font/Space_Mono/SpaceMono-Bold.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
    font-weight: 300;
    font-style: bold;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/storage/font/Space_Mono/SpaceMono-Bold.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SpaceMono";
    src: url("/storage/font/Space_Mono/SpaceMono-BoldItalic.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
}


/*ModernSans*/

@font-face {
    font-family: "ModernSans";
    src: url("/storage/font/modern_sans/ModernSans-Light.woff") format("woff"), url("/storage/font/modern_sans/ModernSans-Light.otf") format("otf"), url("/storage/font/modern_sans/ModernSans-Light.woff2") format("woff2");
    font-style: normal;
}