$blanco:rgb(255, 255, 255);
$negro:rgb(0, 0, 0);
$hoverbtn:rgb(53, 49, 49);
$bordetabla:rgb(255, 123, 0);
$body:rgb(238, 238, 238);
$thead:rgb(245, 162, 55);
$tr:rgb(221, 221, 221);
$trhover:rgb(248, 183, 98);
$cerrarhover:rgb(49, 47, 47);
$inputfocus:rgb(255, 177, 75);
$border-bottom:rgb(17, 17, 17);