    .content {
        grid-area: content;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, auto);
        padding: 2.5rem 1rem;
        place-items: start center;
        place-content: start center;
    }
    
    .hidden {
        visibility: hidden;
        display: none !important;
    }
    /* Slider detalle*/
    
    .slider-producto {
        width: 100%;
    }
    
    .splide__container {
        display: flex;
        align-content: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .p-splide--primary,
    .p-splide--secundary {
        //width: 100%;
        padding-top: .6rem;
    }
    
    .splide__track--primary {
        display: flex;
        justify-content: center;
    }
    
    // .splide__track--secundary {
    //     display: flex;
    //     justify-content: center;
    // }
    .p-splide--secundary ul li {
        opacity: .5;
    }
    
    .splide__list li:hover {
        cursor: pointer;
    }
    
    .p-splide--secundary ul li:hover,
    .p-splide--secundary ul li:active {
        opacity: 1;
    }
    
    .p-splide--secundary ul .is-active {
        opacity: 1
    }
    
    .splide__arrow.splide__arrow--next,
    .splide__arrow.splide__arrow--prev {
        background-color: #fff;
        opacity: .7;
        color: #000;
        border: 1px solid #000;
        transform: scale(1.025);
        transition: all .5s ease;
        svg {
            color: inherit;
        }
    }
    
    .splide__arrow.splide__arrow--next:hover,
    .splide__arrow.splide__arrow--prev:hover {
        transform: scale(1.09);
        box-shadow: 0 0 5px 2px #fff;
    }
    
    .splide__list.splide__list--secundary {
        width: 100%;
    }
    
    .complements {
        position: absolute;
        top: 5px;
        left: -3px;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        z-index: 8;
        span {
            width: 65px;
            font-size: .75rem;
            text-align: center;
            height: 20px;
            line-height: 20px;
            margin-bottom: .25rem;
            color: #fff;
            border-radius: .1rem;
        }
        .agotado {
            background-color: #3E3E3E;
        }
        .descuento {
            background-color: #FF0000;
        }
    }
    /*detalle producto*/
    
    .detalle-producto {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "title" "price" "description" "guia" "tallas";
        gap: .6rem;
        padding: 1.5rem 0;
    }
    
    .titulo-producto {
        grid-area: title;
        font-size: 1.6rem;
        font-weight: 700;
    }
    /*precio producto*/
    
    .Precio-stock-producto {
        grid-area: price;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #F1D6C0;
    }
    
    .Precio-stock-producto__precio {
        margin: 0;
        padding: .4rem;
        font-size: 1.3rem;
        //availability value_out
        //availability value_in
    }
    
    .Precio-stock-producto__stock {
        font-size: 1.1rem;
        &.con-stock {
            color: #2A9F0B;
            &::after {
                content: "Con Stock";
                color: inherit;
            }
        }
        &.sin-stock {
            color: #E71009;
            &::after {
                content: "Sin Stock";
                color: inherit;
            }
        }
    }
    /*descripcion producto*/
    
    .descripcion-producto {
        grid-area: description;
        font-size: 1rem;
        padding: .7rem 0;
        font-weight: 500;
        p {
            text-align: left;
            line-height: 1.5rem;
            margin: 0;
        }
    }
    /*guia producto*/
    
    .guiaTalla-producto {
        grid-area: guia;
    }
    
    .guiaTallas {
        background-color: #000;
        color: #fff;
        height: 40px;
        border-radius: 9px;
        text-align: center;
        line-height: 40px;
        border: none;
        cursor: pointer;
        transition: all .5s ease;
        padding: 0 .6rem;
        &:hover {
            transform: scale(0.98);
            background-color: rgba(0, 0, 0, 0.767);
        }
    }
    
    .modal-guia {
        position: fixed;
        top: 0;
        left: 0;
        //transform: translateX(-100%);
        background-color: rgba($color: #000, $alpha: .75);
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        overflow-y: auto;
        transition: transform .4s ease;
        display: none;
        justify-content: center;
        align-items: center;
        .modal-content {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #fff;
            width: 90%;
            position: relative;
        }
        i {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 35px;
            height: 35px;
            text-align: center;
            line-height: 35px;
            clip-path: circle(50% at 50% 50%);
            font-size: 1.4rem;
            transition: transform .4s ease;
            color: #fff;
            &:hover {
                cursor: pointer;
                background-color: #f8b8095b;
                transform: rotate(360deg);
            }
        }
        .imagen-guiaTalla {
            max-width: 100%;
            object-fit: contain;
            height: auto;
        }
        .descripcion-guia {
            text-align: center;
            font-size: .8rem;
        }
    }
    
    .modal-guia.active {
        display: flex;
    }
    /*tallas producto*/
    
    .tallas-producto {
        grid-area: tallas;
    }
    
    .tallas-seleccion {
        display: block;
        width: 100%;
    }
    
    .show-talla {
        font-size: .95rem;
        text-transform: uppercase;
        span {
            font-weight: 600;
        }
    }
    
    .talla-lista {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
    }
    
    .talla-lista__item {
        width: 2.6rem;
        height: 2.6rem;
        border: 1px solid #67574C;
        border-radius: 50%;
        clip-path: circle(50% at 50% 50%);
        background-color: #000;
        color: #fff;
        margin-right: .5rem;
        transition: all .5s ease;
        span {
            font-size: .9rem;
            color: inherit;
            line-height: 2.6rem;
            text-align: center;
            width: 100%;
            height: 100%;
            display: block;
        }
        &:hover {
            transform: scale(1.02);
            color: #000;
            background-color: #fff;
            cursor: pointer;
            outline: 1px solid #67574C;
        }
    }
    
    .talla-lista__item.agotado {
        position: relative;
        &::before {
            content: "";
            background-color: #fff;
            position: absolute;
            width: 100%;
            top: 50%;
            left: 0;
            height: 1.5px;
        }
    }
    
    .talla-lista__item:hover.agotado {
        &::before {
            content: "";
            background-color: #000;
        }
    }
    
    .talla-lista__item.active {
        background-color: #fff;
        color: #000;
    }
    
    .talla-lista__item.agotado.active {
        &::before {
            content: "";
            background-color: #000;
        }
    }
    
    .talla-lista__item:hover.agotado.active {
        &::before {
            content: "";
            background-color: #fff;
        }
    }
    
    .no-stock {
        display: none;
        padding: .5rem;
        border: 2px solid #E71009;
        width: 15rem;
        color: #E71009;
        cursor: not-allowed;
        i {
            margin-right: .3rem;
        }
    }
    
    .no-stock.active {
        display: block;
    }
    
    .cantidad-agregar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px 0 10px 0;
        &>div {
            margin-right: 1rem;
        }
        .cantidad-producto {
            position: relative;
            display: flex;
            align-items: center;
            width: 90px;
            height: 40px;
            border: 1px solid #a59990;
            &::before {
                content: "cantidad:";
                color: #000;
                display: block;
                position: absolute;
                top: -25px;
                left: 0;
            }
        }
    }
    
    .input-cantidad {
        width: 35px;
        height: 100%;
        margin: 0;
        text-align: center;
        border: none;
        color: #000;
        -moz-appearance: textfield;
        appearance: textfield;
        &::-webkit-inner-spin-button,
        &-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    
    .arriba-abajo {
        width: 35px;
        height: 100%;
        text-align: center;
        &:hover {
            cursor: pointer;
        }
        .cantidad-botones {
            display: block;
            text-decoration: none;
            width: 100%;
            height: 100%;
            text-align: center;
            color: #000;
            line-height: 40px;
        }
    }
    
    .arriba-abajo.mas {
        border-left: 1px solid #a59990;
    }
    
    .arriba-abajo.menos {
        border-right: 1px solid #a59990;
    }
    
    .agregar-carrito {
        background-color: #000;
        color: #fff;
        height: 40px;
        border-radius: 9px;
        text-align: center;
        line-height: 40px;
        border: none;
        cursor: pointer;
        transition: all .5s ease;
        padding: 0 1rem;
        &:hover {
            transform: scale(0.98);
            background-color: rgba(0, 0, 0, 0.767);
        }
    }
    
    .contactanos {
        margin: 1rem 0;
        display: none;
        .open-Contacto-talla {
            cursor: pointer;
            background-color: #fff;
            border: none;
            color: #000;
            border-bottom: 1.5px solid #000;
        }
        .Modal-Contacto-talla__title {
            text-transform: uppercase;
        }
    }
    
    .contactanos.active {
        display: block;
    }
    /* Small devices (landscape phones, 576px and up) */
    
    @media (min-width: 576px) and (max-width: 767.98px) {
        /*precio producto*/
        .modal-guia {
            .modal-content {
                width: 70%;
            }
        }
    }
    /* Medium devices (tablets, 768px and up) */
    
    @media (min-width: 768px) and (max-width: 991.98px) {
        .content {
            grid-template-columns: 55% 45%;
            grid-template-rows: auto;
            padding: 2.5rem 3rem;
        }
        /* Slider detalle*/
        // .splide__container {
        //     display: flex;
        //     align-content: center;
        //     justify-content: center;
        //     flex-direction: row;
        // }
        .p-splide--primary,
        .p-splide--secundary {
            padding-top: 0rem;
        }
        /*detalle producto*/
        .detalle-producto {
            padding: 0 .1rem 1.5rem .1rem;
            h1 {
                margin: 0;
            }
        }
        /*precio producto*/
        /*descripcion producto*/
        /*guia producto*/
        .modal-guia {
            .modal-content {
                width: 60%;
            }
        }
        /*tallas producto*/
    }
    /* Large devices (desktops, 992px and up) */
    
    @media (min-width: 992px) and (max-width: 1199.98px) {
        .content {
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            padding: 2.5rem 3rem;
        }
        /* Slider detalle*/
        // .splide__container {
        //     display: flex;
        //     align-content: center;
        //     justify-content: center;
        //     flex-direction: row;
        // }
        .p-splide--primary,
        .p-splide--secundary {
            padding-top: 0rem;
        }
        /*detalle producto*/
        .detalle-producto {
            padding: 0 .1rem 1.5rem .1rem;
            h1 {
                margin: 0;
            }
        }
        .modal-guia {
            .modal-content {
                width: 50%;
            }
        }
    }
    /* Extra large devices (large desktops, 1200px and up) */
    
    @media (min-width: 1200px) {
        .content {
            grid-template-columns: 50% 50%;
            grid-template-rows: auto;
            padding: 2.5rem 3rem;
        }
        /* Slider detalle*/
        // .splide__container {
        //     display: flex;
        //     align-content: center;
        //     justify-content: center;
        //     flex-direction: row;
        // }
        .p-splide--primary,
        .p-splide--secundary {
            padding-top: 0rem;
        }
        /*detalle producto*/
        .detalle-producto {
            padding: 0 .1rem 1.5rem .1rem;
            h1 {
                margin: 0;
            }
        }
        .modal-guia {
            .modal-content {
                width: 45%;
            }
        }
    }