/*---------contenido del main--------------*/

.content-home {
    grid-area: content;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 150px auto;
    grid-template-areas: "slider" "homeContent";
}


/*---------slider--------------*/

.contenedor .carousel {
    grid-area: slider;
    background: #000;
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.carousel__contenedor {
    position: relative;
    width: 90%;
    height: 100%;
}

.carousel__anterior,
.carousel__siguiente {
    position: absolute;
    display: block;
    width: 2.5em;
    height: 2.5em;
    border: none;
    top: calc(50% - 1.5em);
    cursor: pointer;
    line-height: 2.5em;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 15%;
}

.carousel__anterior .fas,
.carousel__siguiente .fas {
    font-size: 1.3em;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
    opacity: 100%;
}

.carousel__anterior {
    left: -1.8em;
}

.carousel__siguiente {
    right: -1.8em;
}

.carousel__lista {
    width: 100%;
    padding-top: .7em;
    height: 90%;
    overflow: hidden;
}

.glider-track {
    height: 100%;
    width: 100%;
}

.carousel__indicadores {
    height: 10%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.carousel__elemento {
    display: flex;
    align-content: center;
    justify-content: flex-start;
}

.carousel__indicadores .glider-dot {
    display: block;
    width: 2em;
    height: .37em;
    background: #fff;
    opacity: .2;
    border-radius: .2em;
    line-height: 0.37em;
    margin: 0 6px;
}

.carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.carousel__indicadores .glider-dot.active {
    opacity: 1;
}

.carousel__elemento img {
    object-fit: contain;
    object-position: center;
    max-width: 100%;
}


/*---------content--------------*/

.contenedor .content {
    grid-area: homeContent;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 2) - 10px)));
    grid-template-rows: repeat(auto-fit, minmax(136px, calc((100vw / 2) - 10px)));
    gap: .8rem;
    margin: 1rem 0;
    padding: 0 1rem;
    place-content: center;
    place-items: stretch;
    .imgcat {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        .imgcat-link {
            display: block;
            position: relative;
            height: 100%;
            color: #fff;
            &:hover .overlay {
                width: 100%;
                left: 0;
            }
            .imgcat__img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
            }
            .overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(32, 30, 28, 0.7);
                overflow: hidden;
                width: 100%;
                height: 100%;
                transition: all .5s ease;
                .text {
                    font-weight: 700;
                    font-size: .7rem;
                    color: #FFF;
                    text-align: center;
                    width: 100%;
                    text-shadow: .1px .1px .1px #262626;
                    letter-spacing: .3em;
                    margin: 0;
                }
                &:hover {
                    background-color: rgba(58, 54, 50, 0.7);
                }
            }
        }
    }
}


/*---------media--------------*/


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .content-home {
        grid-template-rows: 180px auto;
    }
    /*---------slider--------------*/
    .carousel__contenedor {
        width: 94%;
    }
    .carousel__lista {
        height: 93%;
    }
    .carousel__indicadores {
        height: 7%;
    }
    /*---------content--------------*/
    .contenedor .content {
        grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 3) - 10px)));
        grid-template-rows: repeat(auto-fit, minmax(136px, calc((100vw / 3) - 10px)));
        .imgcat {
            .imgcat-link {
                .overlay {
                    .text {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    /*---------main content--------------*/
    .content-home {
        grid-template-rows: 250px auto;
    }
    /*---------slider--------------*/
    .carousel__contenedor {
        width: 94%;
    }
    .carousel__anterior .fas,
    .carousel__siguiente .fas {
        font-size: 1.5em;
    }
    .carousel__anterior {
        left: -1.9em;
    }
    .carousel__siguiente {
        right: -1.9em;
    }
    .carousel__lista {
        height: 93%;
    }
    .carousel__indicadores {
        height: 7%;
    }
    /*---------content--------------*/
    .contenedor .content {
        grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 3) - 10px)));
        grid-template-rows: repeat(auto-fit, minmax(136px, calc((100vw / 3) - 10px)));
        .imgcat {
            .imgcat-link {
                .overlay {
                    .text {
                        font-size: .91rem;
                        letter-spacing: .2em;
                    }
                }
            }
        }
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    /*---------main content--------------*/
    .content-home {
        grid-template-rows: 270px auto;
    }
    /*---------slider--------------*/
    .carousel__contenedor {
        width: 95%;
    }
    .carousel__anterior,
    .carousel__siguiente {
        top: 45%;
    }
    .carousel__anterior .fas,
    .carousel__siguiente .fas {
        font-size: 1.5em;
    }
    .carousel__anterior {
        left: -2em;
    }
    .carousel__siguiente {
        right: -2em;
    }
    .carousel__lista {
        height: 95%;
    }
    .carousel__indicadores {
        height: 5%;
    }
    /*---------content--------------*/
    .contenedor .content {
        grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 3) - 3.5rem)));
        grid-template-rows: repeat(auto-fit, minmax(136px, calc((100vw / 3) - 3.5rem)));
        gap: 2rem 3rem;
        margin: 3rem 0;
        //grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 3) - 10px)));
        .imgcat {
            .imgcat-link {
                &:hover .imgcat__img {
                    transform: scale(1.2);
                }
                .imgcat__img {
                    transform: scale(1);
                    transition: all .5s ease;
                }
                .overlay {
                    left: 50%;
                    width: 50%;
                    .text {
                        font-size: .8rem;
                        text-shadow: .1px .1px 2.5px #e6a926;
                        letter-spacing: .2em;
                    }
                }
            }
        }
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    /*---------main content--------------*/
    .content-home {
        grid-template-rows: 250px auto;
    }
    /*---------slider--------------*/
    .carousel__contenedor {
        width: 95%;
    }
    .carousel__anterior,
    .carousel__siguiente {
        top: 45%;
    }
    .carousel__anterior .fas,
    .carousel__siguiente .fas {
        font-size: 1.5em;
    }
    .carousel__anterior {
        left: -2em;
    }
    .carousel__siguiente {
        right: -2em;
    }
    .carousel__lista {
        height: 95%;
    }
    .carousel__indicadores {
        height: 5%;
    }
    /*---------content--------------*/
    .contenedor .content {
        grid-template-columns: repeat(auto-fit, minmax(136px, calc((100% / 3) - 6rem)));
        grid-template-rows: repeat(auto-fit, minmax(136px, calc((100vw / 3) - 6rem)));
        gap: 2rem 3rem;
        margin: 3rem 0;
        .imgcat {
            .imgcat-link {
                &:hover .imgcat__img {
                    transform: scale(1.2);
                }
                .imgcat__img {
                    transform: scale(1);
                    transition: all .5s ease;
                }
                .overlay {
                    left: 50%;
                    width: 50%;
                    .text {
                        font-size: .9rem;
                        text-shadow: .1px .1px 2.5px #e6a926;
                        letter-spacing: .2em;
                    }
                }
            }
        }
    }
}