/*gothiceregular*/

@font-face {
  font-family: "gothiceregular";
  src: url("/storage/font/gothice_-webfont.woff2") format("woff2"), url("/storage/font/gothice_-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*SpaceMono*/

@font-face {
  font-family: "SpaceMono";
  src: url("/storage/font/Space_Mono/SpaceMono-Regular.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/storage/font/Space_Mono/SpaceMono-Italic.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/storage/font/Space_Mono/SpaceMono-Bold.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
  font-weight: 300;
  font-style: bold;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/storage/font/Space_Mono/SpaceMono-Bold.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SpaceMono";
  src: url("/storage/font/Space_Mono/SpaceMono-BoldItalic.woff") format("woff"), url("/storage/font/Space_Mono/SpaceMono-Italic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
}

/*ModernSans*/

@font-face {
  font-family: "ModernSans";
  src: url("/storage/font/modern_sans/ModernSans-Light.woff") format("woff"), url("/storage/font/modern_sans/ModernSans-Light.otf") format("otf"), url("/storage/font/modern_sans/ModernSans-Light.woff2") format("woff2");
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background: #eeeeee;
}

.contenedor {
  grid-area: contenido;
  background: #eeeeee;
  text-align: center;
}

.p-contador {
  margin-top: 2rem;
  font-size: 1.3rem;
  font-weight: 900;
  text-align: center;
  justify-content: center;
}

.p-grafica {
  margin-top: 5rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  justify-content: center;
}

.contenedor-contador {
  margin-top: 1rem;
  text-align: center;
  justify-content: center;
}

.contador {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.grafico {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0 auto;
}

.grafico h3 {
  text-align: center;
  width: auto;
  margin-bottom: 2rem;
}

.contenedor {
  grid-area: contenido;
}

@media (min-width: 992px) {
  .grafico {
    width: 70%;
  }
}

